.scrolled {
  transform: translateY(-60px);
}
#BlogPost {
  width: $width-small;
  margin: 0 auto;

  & h1 {
    font-size: 3.2024rem;
    line-height: 3.9312rem;
  }
  & h2 {
    font-size: 2.732rem;
    line-height: 3.1567rem;
    margin-bottom: 1.7688rem;
    margin-top: 3.404rem;
  }
  & h3 {
    font-size: 1.952rem;
    margin-bottom: 2.688rem;
    margin-top: 4.704rem;
  }
  & p {
    font-size: 1.7472rem;
    line-height: 2.79552rem;
    margin-bottom: 2.688rem;
  }
  & ul {
    margin-left: 2.016rem;
    margin-bottom: 2.688rem;
  }
  & li {
    margin-left: 2.016rem;
    margin-bottom: 0.4032rem;
    // padding-left: 2.016rem;
    font-size: 1.7472rem;
    line-height: 2.79552rem;
  }

  & li a {
    text-decoration: none;
    color: rgb(81, 131, 245);
  }
}
