.scrolled {
  transform: translateY(-60px);
}

#BlogPost__header {
  width: $width-small;
  margin: 0 auto;

  &--date {
    font-size: 1.37rem;
    line-height: 2.2rem;
    margin-top: 0.4rem;
  }
  &--tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    & a {
      margin-bottom: 0;
    }
  }
  @include respond(phone) {
    width: 90%;
    margin: 0 5%;
  }
}
.BlogPost {
  &__image {
    height: 42.1563rem;
    margin: 3.2rem 0;
    background-size: cover;
    background-position: 50% 100%;
  }
  &__similar {
    width: $width-small;
    margin: 0 auto;
    margin-top: 100px;
    &--posts {
      display: flex;
      flex-wrap: wrap;
      & .Card {
        margin-right: 40px;
      }
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
    @include respond(tab-port) {
      width: 600px;
    }
    @include respond(phone) {
      width: 90%;
      margin: 0 5%;
      margin-top: 100px;
    }
  }
}

.tableOfContents {
  // border: 4px solid $color-yellow;
  // transform: translateX(-40px);
  padding: 20px 20px;
  border-radius: 4px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 26.88px;
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, 0.1);

  & a {
    color: $color-black;
    transition: all 0.3s;
  }
  & a:not(:last-child) {
    margin-bottom: 12px;
  }
  & a:hover {
    color: $color-yellow;
  }

  & svg {
    margin-right: 8px;
    font-size: 1.8rem;
  }
}
#BlogPost__footer {
  & ul {
    display: flex;

    justify-content: space-between;
    list-style: none;
    padding-top: 20px;
  }
  & li {
    display: inline;
    font-size: 2rem;
  }
  & a {
    color: $color-text-dark;
    transition: all 0.2s;
  }
  & a:hover {
    color: $color-yellow;
  }
}

.BlogPost__markdown {
  width: $width-small;
  margin: 0 auto;

  & h2 {
    margin-top: 6rem;
  }
  & h3 {
    margin-top: 6rem;
  }
  .gatsby-resp-image-wrapper {
    margin: 6rem 0;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.12);
  }
  @include respond(tab-port) {
    width: 600px;
  }
  @include respond(phone) {
    width: 92%;
  }
}

blockquote {
  color: #111111;
  border: none;
  background: lighten(yellow, 34%);
  border-radius: 4px;
  margin: 2.4rem 0;
  padding: 2.4rem;

  &.conclusion {
    border: none;
    background: green;
  }

  p {
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
