.Cards {
  display: flex;
  flex-wrap: wrap;

  @include respond(tab-land) {
    grid-template-columns: 50% 50%;
    grid-column-gap: 2px;
  }
  @include respond(phone) {
    grid-template-columns: 100%;
  }
}

@media (min-width: 1040px) {
  .Card:not(:nth-child(3n)) {
    margin-right: 3rem;
  }
}
@media (max-width: 1040px) and (min-width: 600px) {
  .Card:not(:nth-child(2n)) {
    margin-right: 2rem;
  }
}

@include respond(phone) {
  .Card {
    margin: 0;
  }
}

.Card {
  width: 30rem;
  margin-bottom: 4rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  @include respond(tab-land) {
    width: calc(50% - 10px);
  }
  @include respond(phone) {
    width: 100%;
  }
  &__image {
    height: 15.7rem;
    background-size: cover;
    background-position: 50% 100%;
    @include respond(tab-land) {
      height: calc(50vw / 2);
    }
    @include respond(phone) {
      height: calc(100vw / 2.5);
    }
  }
  &__tag {
    position: absolute;
    background-color: $color-yellow;
    color: #111;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: $font-header;
    left: 16px;
    top: -10px;
    line-height: 16px;
    padding: 2px 5px;
  }
  &__title {
    height: 9.6rem;
    padding: 2.4rem 1.6rem;
    font-family: $font-header;
    font-weight: 400 !important;
    line-height: 2.8rem;
    position: relative;

    @include respond(tab-land) {
      height: calc(50vw / 3.75);
    }

    @include respond(phone) {
      height: calc(100vw / 7);
    }

    & h3 {
      font-size: 19px;
      @include respond(tab-port) {
        font-size: 15px;
        line-height: 21px;
      }
    }
    & a {
      font-size: 1.96rem;
    }
  }
}
.Card:hover {
  transform: translate(4px, -4px);
}
