#menu-container {
  width: $width-medium;
  margin: 0 auto;
  @include respond(tab-land) {
    width: 90%;
    margin: 0 5%;
  }
}
.Menu {
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  padding-top: 104px;
  & h3 {
    margin-bottom: 24px;
  }
  &__search {
    position: relative;
    width: 50%;
    margin: 30px auto 60px auto;
    @include respond(tab-land) {
      width: 100%;
    }
    & input {
      width: 100%;
      border: 2px solid rgba(37, 37, 37, 0.15);
      padding: 12px 16px 12px 32px;
      font-size: 16px;
      outline: 0;
    }
    &--icon {
      position: absolute;
      top: 12px;
      left: 8px;
      font-size: 2rem;
    }
    &--result {
      padding-bottom: 60px;

      & .Card {
        margin-bottom: 30px;
      }
    }
  }
  &__topics {
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      margin-bottom: 20px;
    }
    & a {
      font-size: 2rem;
      margin-bottom: 0.7rem;
      font-weight: 700;
      transition: all 0.3s;
    }
    & a:hover {
      color: $color-green;
    }
  }
  &__tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include respond(tab-land) {
      width: 100%;
    }
  }
  &__top {
    display: flex;
    height: 60vh;

    @include respond(tab-land) {
      flex-direction: column;
    }
    @include respond(phone) {
      height: auto;
    }

    &--left {
      width: 25%;
      @include respond(tab-land) {
        width: 100%;
      }
    }
    &--right {
      width: 75%;
      @include respond(tab-land) {
        width: 100%;
      }
    }
  }
  &__bottom {
    width: 120px;
    margin: 0 auto;
    margin-top: 40px;
    & a {
      margin: 0 10px;
      font-size: 1.6rem;
      transition: all 0.3s;
    }
    & a:hover {
      color: $color-green;
    }
    @include respond(phone) {
      margin-bottom: 50px;
    }
  }
}
