.Trending {
  margin: 16px 0;
  &__header {
    font-family: $font-header;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
  }
  &__topics {
    display: flex;
    flex-wrap: wrap;
    width: 96rem;
    @include respond(phone) {
      width: 32rem;
    }
  }
  &__topic {
    font-size: 1.8rem;
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 16px;
    background-color: $color-black;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__topic:hover {
    background-color: $color-green;
    color: #fff;
  }
}
.TagPage {
  &__header {
    margin: 2rem 0;
    font-size: 2.4rem;
  }
  &__button {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #15131d;
    padding: 4px 16px;
    margin: 8rem 0;
    display: inline-block;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__button:hover {
    background-color: $color-green;
    border: 1px solid $color-green;
  }
  &__button:hover span {
    color: #fff;
  }
}
