.Tag {
  font-size: 1.6rem;
  padding: 6px 12px;
  margin-right: 7px;
  margin-bottom: 7px;
  background-color: $color-black;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $color-yellow;
    color: #fff;
  }
}

.Trending {
  margin: 16px 0;

  &__header {
    font-family: $font-header;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
  }
  &__topics {
    display: flex;
    flex-wrap: wrap;
    width: 96rem;
    margin: 0 auto;
    @include respond(tab-land) {
      width: 100%;
    }
  }
}
.TagPage {
  &__header {
    margin: 4.2rem 0;
    font-size: 3.2rem;
  }
  &__button {
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid $color-bg-darkest;
    padding: 4px 16px;
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: inline-block;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__button:hover {
    background-color: $color-green;
    border: 1px solid $color-green;
  }
  &__button:hover span {
    color: #fff;
  }
}
