@keyframes slideIn {
  0% {
    transform: translateY(-74px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-74px);
  }
}
.slide-in {
  animation: slideIn 0.4s 1;
}
.slide-out {
  animation: slideOut 0.4s 1;
}
.translated-in {
  transform: translateY(0px);
}
.translated-out {
  transform: translateY(-74px);
}
