@import url("https://fonts.googleapis.com/css?family=Jost:400,400i,700|Noto+Sans:400,400i,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700|Nanum+Gothic:400,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: $font-text;
}
a {
  font-family: $font-header;
  text-decoration: none;
}
p {
  font-size: 1.85rem;
  line-height: 2.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
h1 {
  font-size: 3.47rem;
  line-height: 4.4rem;
}
h2 {
  font-size: 2.97rem;
  line-height: 3.88rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2.49rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 2.256rem;
  line-height: 2.97rem;
  margin-bottom: 2rem;
}
h5 {
  font-size: 1.88rem;
  line-height: 2.44rem;
  margin-bottom: 2rem;
}



button:focus {
  outline: 0;
}

footer,
#Home {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 4rem;

  @include respond(phone) {
    padding: 0 2rem;
  }
}

#Home {
  padding-top: 104px;
  margin-bottom: 12rem;
}

main {
  padding: 11rem 0 5rem 0;
}

.hidden {
  display: none;
}
#nav-container {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 42;
  transition: transform 0.3s;
}
.no-scroll {
  // box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.scroll {
  transform: translateY(-60px);
}
