@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Fira+Sans:400,700|Nunito+Sans:400,700|Righteous|Signika:400,700|Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;

  // @include respond(tab-land) {
  //   font-size: 56.25%; //1 rem = 9px 9/16
  // }

  // @include respond(tab-port) {
  //   font-size: 50%; //1 rem = 8px 8/16
  // }
}
body {
  font-family: $font-text;
}
a {
  font-family: $font-header;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $font-header;
}
h1 {
  font-size: 3.37rem;
}
h2 {
  font-size: 2.94rem;
}
h3 {
  font-size: 2.45rem;
}
h4 {
  font-size: 2.31rem;
}
h5 {
  font-size: 1.88rem;
}
button:focus {
  outline: 0;
}
nav,
footer,
#Home {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 4rem;

  @include respond(tab-port) {
    // width: 600px;
    // padding: 0;
  }
  @include respond(phone) {
    // width: 92vw;
    padding: 0 2rem;
  }
}

#Home {
  padding-top: 104px;
  margin-bottom: 12rem;
  @include respond(tab-port) {
    // width: 100%;
  }
}

main {
  padding: 11rem 0 5rem 0;
}

.hidden {
  display: none;
}
.bigger {
  height: 101vh;
}
