@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Fira+Sans:400,700|Nunito+Sans:400,700|Righteous|Signika:400,700|Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: $font-text;
}
a {
  font-family: $font-header;
  text-decoration: none;
  color: #5183f5;
  font-weight: 600;
}
p {
  font-size: 1.75rem;
  line-height: 2.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
h1 {
  font-size: 3.37rem;
  line-height: 4.2rem;
}
h2 {
  font-size: 2.94rem;
  line-height: 3.7rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2.45rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 2.31rem;
  line-height: 2.97rem;
  margin-bottom: 2rem;
}
h5 {
  font-size: 1.88rem;
  line-height: 2.44rem;
  margin-bottom: 2rem;
}

ul {
  margin: 2.7rem 2rem;
}
li {
  margin-left: 2rem;
  margin-bottom: 0.4rem;
  font-size: 1.75rem;
  line-height: 2.8rem;
}

button:focus {
  outline: 0;
}
nav,
footer,
#Home {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 4rem;

  @include respond(phone) {
    padding: 0 2rem;
  }
}

#Home {
  padding-top: 104px;
  margin-bottom: 12rem;
}

main {
  padding: 11rem 0 5rem 0;
}

.hidden {
  display: none;
}
.bigger {
  height: 101vh;
}
