@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Fira+Sans:400,700|Nunito+Sans:400,700|Righteous|Signika:400,700|Varela+Round&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px 8/16
  }
}
body {
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $font-header;
}
button:focus {
  outline: 0;
}
nav,
footer,
#Home {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 6rem;
}

#Home {
  padding-top: 104px;

  @include respond(tab-port) {
    width: 100%;
  }
}

main {
  padding: 11rem 0;
}
a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  margin: 0 0 2rem;
  font-size: 1.3rem;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.dark th {
  border-bottom: 2px solid #131313;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  text-align: left;
  padding: 0.75rem !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.dark tbody tr:nth-child(2n) {
  background-color: #2d2d2d;
}
