.Topics {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-column-gap: 48px;
  width: 100%;
  margin-bottom: 3.2rem;
}
.Topic {
  // width: 160px;

  & img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0.7rem auto;
  }
  & h3 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.07rem;
    font-family: "Montserrat", sans-serif !important;
    transition: all 0.3s;
  }
}
.Topic:hover h3 {
  color: orangered;
}
.PostPreviews {
  display: grid;
  grid-template-columns: 306.67px 306.67px 306.67px;
  grid-column-gap: 20px;
  // grid-template-rows: 26rem;
  grid-row-gap: 40px;
}
.PostPreview {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  &__image {
    // height: 17.5rem;
  }
  &__title {
    height: 8.8rem;
    padding: 1.6rem;

    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    line-height: 2.8rem;
    // color: rgb(21, 19, 29);
    & h3 {
      font-size: 2.16rem;
    }
    & a {
      color: $color-black;
      font-size: 2.16rem;
    }
  }
}

#BlogPost {
  & h1 {
    font-size: 3.024rem;
    line-height: 3.9312rem;
  }
  & h3 {
    font-size: 2.352rem;
    margin-bottom: 2.688rem;
    margin-top: 4.704rem;
  }
  & p {
    font-size: 1.7472rem;
    line-height: 2.79552rem;
    margin-bottom: 2.688rem;
    color: rgb(64, 64, 64);
  }
  & ul {
    margin-left: 2.016rem;
    margin-bottom: 2.688rem;
  }
  & li {
    margin-left: 2.016rem;
    margin-bottom: 0.4032rem;
    // padding-left: 2.016rem;
    font-size: 1.7472rem;
    line-height: 2.79552rem;
  }

  & li a {
    text-decoration: none;
    color: rgb(81, 131, 245);
  }
}
