.Nav {
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-header;
  & button {
    font-family: $font-header;
  }
  &__menu--button {
    width: 8.6rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    // color: $color-lightblack;
    transition: all 0.3s;

    & svg {
      font-size: 3.2rem;
    }

    & span {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: 0.8rem;
    }

    &:hover {
      color: $color-yellow;
    }
  }
  &__logo {
    // & span {
    //   font-size: 2.4rem;
    //   font-weight: 700;
    // }
    & p {
      font-size: 1.4rem;
    }
  }
  &__search--button {
    background: none;
    border: none;
    font-size: 3.2rem;
    // color: $color-lightblack;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: $color-yellow;
    }
  }

  & a {
    font-size: 2rem;
  }
  &__mode {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    & svg {
      font-size: 3.2rem;
    }
  }
  &__mode:hover {
    color: $color-yellow;
  }
}

.Trending {
  margin: 16px 0;
  &__header {
    font-family: $font-header;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
  }
  &__topics {
    display: flex;
    flex-wrap: wrap;
    width: 48rem;
    @include respond(phone) {
      width: 32rem;
    }
  }
  &__topic {
    font-size: 1.8rem;
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 16px;
    background-color: $color-black;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__topic:hover {
    background-color: gold;
    color: #000;
  }
}

.Topics {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-column-gap: 48px;
  width: 100%;
  margin-bottom: 5.2rem;
  @include respond(tab-land) {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-column-gap: 2%;
  }
  @include respond(phone) {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
  }
}

.Topic {
  &__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 1rem auto;
    transition: all 0.3s;

    @include respond(tab-land) {
      width: 90px;
      height: 90px;
    }
    @include respond(tab-port) {
      width: 75px;
      height: 75px;
    }
    @include respond(phone) {
      width: 90px;
      height: 90px;
    }
  }
  &__name {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.47rem;
    letter-spacing: 1.2px;
    font-family: $font-header;
    transition: all 0.3s;
  }
}
// .Topic:hover .Topic__image {
//   transform: scale(1.5);
// }
.Topic:hover .Topic__name {
  color: $color-yellow;
}
.Topic:hover .Topic__image {
  transform: scale(1.07);
}
.PostPreviews {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 2%;
  grid-row-gap: 40px;
  margin-bottom: 12rem;

  @include respond(tab-port) {
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
  @include respond(phone) {
    grid-template-columns: 100%;
  }
}

// @media screen and (max-width: 840px) {
//   .PostPreviews {

//   }
// }
// @media screen and (max-width: 600px) {
//   .PostPreviews {

//   }
// }
.PostPreview {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;

  &__image {
    height: 17.5rem;
    background-size: cover;
    background-position: 50% 100%;

    @include respond(phone) {
      height: 25rem;
    }
  }
  &__tag {
    position: absolute;
    background-color: $color-green;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: $font-header;
    left: 16px;
    top: 165px;
    padding: 2px 5px;
    @include respond(tab-land) {
      top: 147.5px;
    }
    @include respond(tab-port) {
      top: 131.25px;
    }
    @include respond(phone) {
      top: 190px;
      font-size: 1.6rem;
    }
  }
  &__title {
    height: 9.6rem;
    padding: 2.4rem 1.6rem;
    font-family: $font-header;
    font-weight: 400 !important;
    line-height: 2.8rem;

    & h3 {
      font-size: 1.96rem;
    }
    & a {
      font-size: 1.96rem;
    }
  }
}
.PostPreview:hover {
  transform: translate(4px, -4px);
}

#BlogPost {
  & h1 {
    font-size: 3.2024rem;
    line-height: 3.9312rem;
  }
  & h2 {
    font-size: 2.732rem;
    line-height: 3.1567rem;
    margin-bottom: 1.7688rem;
    margin-top: 3.404rem;
  }
  & h3 {
    font-size: 1.952rem;
    margin-bottom: 2.688rem;
    margin-top: 4.704rem;
  }
  & p {
    font-size: 1.7472rem;
    line-height: 2.79552rem;
    margin-bottom: 2.688rem;
    color: rgb(64, 64, 64);
  }
  & ul {
    margin-left: 2.016rem;
    margin-bottom: 2.688rem;
  }
  & li {
    margin-left: 2.016rem;
    margin-bottom: 0.4032rem;
    // padding-left: 2.016rem;
    font-size: 1.7472rem;
    line-height: 2.79552rem;
  }

  & li a {
    text-decoration: none;
    color: rgb(81, 131, 245);
  }
}

.Footer {
  font-family: $font-header;
  &__logo {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 3rem 0 1rem 0;
    width: 100%;
    border-bottom: 1px solid grey;
  }
  &__content {
    padding: 2rem 0;
    display: flex;
  }
  &__social {
    width: 50%;
    font-size: 1.8rem;
    font-weight: 700;
    &--text {
      color: rgba(255, 255, 255, 0.5);
    }
    &--icons {
      display: flex;
      margin-top: 10px;
    }
    &--icon {
      &-container {
        border-radius: 50%;
        width: 38px;
        height: 38px;
        background-color: rgb(68, 66, 74);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
      }
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
  }
  &__links {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 16px;
    grid-template-rows: 20px 20px 20px;
    grid-row-gap: 16px;
  }
  &__link {
    font-size: 1.6rem;
    font-weight: 700;

    transition: all 0.3s;
    cursor: pointer;
  }
  &__link:hover {
    color: $color-green;
  }
  &__copyright {
    border-top: 1px solid grey;
    font-size: 1.4rem;
    padding: 2rem 0 3rem 0;
    padding-left: 50%;
  }
}
#tw-icon:hover {
  background-color: #1da1f2;
  transition: all 0.3s;
}
#fb-icon:hover {
  background-color: #3b5999;
  transition: all 0.3s;
}
#yt-icon:hover {
  background-color: #ff0000;
  transition: all 0.3s;
}
#ig-icon:hover {
  background-color: #d62976;
  transition: all 0.3s;
}
