.Topics {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-column-gap: 48px;
  width: 100%;
  margin-bottom: 5.2rem;
}
.Topic {
  &__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 1rem auto;
  }
  &__name {
    text-align: center;
    font-size: 2rem;
    line-height: 2.47rem;
    letter-spacing: 1.2px;
    font-family: "Montserrat", sans-serif !important;
    transition: all 0.3s;
  }
}
.Topic:hover .Topic__name {
  color: rgb(35, 140, 44);
}
.PostPreviews {
  display: grid;
  grid-template-columns: 306.67px 306.67px 306.67px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.PostPreview {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;

  &__image {
    height: 17.5rem;
    background-size: cover;
    background-position: 50% 100%;
  }
  &__tag {
    position: absolute;
    background-color: rgb(35, 140, 44);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif !important;
    left: 16px;
    top: 165px;
    padding: 2px 5px;
  }
  &__title {
    height: 9.6rem;
    padding: 2.4rem 1.6rem;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400 !important;
    line-height: 2.8rem;

    & h3 {
      font-size: 2.16rem;
    }
    & a {
      color: $color-black;
      font-size: 2.16rem;
    }
  }
}
.PostPreview:hover {
  transform: translate(4px, -4px);
}

#BlogPost {
  & h1 {
    font-size: 3.2024rem;
    line-height: 3.9312rem;
  }
  & h2 {
    font-size: 2.732rem;
    line-height: 3.1567rem;
    margin-bottom: 1.7688rem;
    margin-top: 3.404rem;
  }
  & h3 {
    font-size: 1.952rem;
    margin-bottom: 2.688rem;
    margin-top: 4.704rem;
  }
  & p {
    font-size: 1.7472rem;
    line-height: 2.79552rem;
    margin-bottom: 2.688rem;
    color: rgb(64, 64, 64);
  }
  & ul {
    margin-left: 2.016rem;
    margin-bottom: 2.688rem;
  }
  & li {
    margin-left: 2.016rem;
    margin-bottom: 0.4032rem;
    // padding-left: 2.016rem;
    font-size: 1.7472rem;
    line-height: 2.79552rem;
  }

  & li a {
    text-decoration: none;
    color: rgb(81, 131, 245);
  }
}
