body {
  color: $color-bg-darkest;

  & a {
    color: $color-bg-darkest;
  }
  & #nav-container {
    background-color: $color-bg-darkest;
  }
  & .logo-text {
    color: #ffffff;
  }
  & button {
    color: $color-text-light;
  }
  .Menu {
    background-color: #fff;
  }
  .footerLinks a {
    color: rgba(255, 255, 255, 0.5);
  }
  .footerLinks a:hover {
    color: $color-green;
  }
  .blogPostMarkdown .language-text {
    color: $color-bg-dark;
    background: rgba(0, 0, 0, 0.06);
  }
  .blogPostLinks a {
    color: $color-bg-dark;
    transition: all 0.2s;
  }
  .blogPostLinks a:hover {
    color: $color-yellow;
  }
}

.dark {
  background-color: $color-darkmode-18;
  color: $color-text-light;

  & .Card {
    background-color: $color-darkmode-17;
  }
  .BlogPost__markdown {
    & a {
      color: $color-text-blue;
    }
  }
  & p {
    color: $color-text-light;
  }

  & h1,
  h2,
  h3 {
    color: $color-text-lighter;
  }

  .blogPostMarkdown .language-text {
    color: $color-text-light;
    background: $color-bg-dark;
  }
  .Menu {
    background-color: $color-bg-darkest;
  }
  & .TagPage__button {
    border: 1px solid $color-text-light;
  }
  blockquote {
    color: #fff;
    border: none;
    background: $color-bg-dark;
    border-radius: 4px;
    font-size: 1.6rem;
    margin: 1.6rem 0;
    padding: 2.4rem;

    &.conclusion {
      border: none;
      background: green;
    }

    p {
      padding: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .tableOfContents {
    border: 2px solid $color-yellow;
    background-color: $color-bg-darkest;
    & a {
      color: $color-text-lightest;
      transition: all 0.3s;
    }
    & a:hover {
      color: $color-yellow;
    }
  }
  .blogPostLinks a {
    color: $color-text-light;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  margin: 4.8rem 0;
  font-size: 1.6rem;
}
thead {
  display: table-header-group;
}
tr {
  display: table-row;
}
.dark th {
  border-bottom: 2px solid $color-bg-darkest;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
}
tr {
  display: table-row;
}
th {
  padding: 1rem 2rem;
  text-align: left;
}
td {
  text-align: left;
  padding: 1rem 2rem !important;
  hyphens: auto;
  word-break: break-word;
}

tbody tr:nth-child(2n) {
  background-color: $color-text-lightest;
}
.dark tbody tr:nth-child(2n) {
  background-color: $color-bg-dark;
}

.gatsby-highlight {
  font-size: 1.4rem;
  margin: 2.688rem 0;

  & pre {
    border-radius: 8px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
  }
}

pre.language-javascript {
  padding: 2.016rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
}
pre.language-terminal {
  background: $color-bg-darkest;
  border-top: 18px solid $color-medium-light;
  border-radius: 0px;
}
