@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 840px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1040px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1500px) {
      @content;
    }
  }
  @if $breakpoint == not-phone {
    @media (min-width: 600px) {
      @content;
    }
  }
}
