body {
  color: #111111;
  background-color: #fff;
  color: rgb(42, 42, 42);
  & a {
    color: $color-black;
  }
  & #nav-container {
    background-color: #fff;
  }
  .Menu {
    background-color: #fff;
  }
  .Footer__link {
    color: rgba(255, 255, 255, 0.5);
  }
}
// .TagPage {
//   &__header {
//     margin-bottom: 2rem;
//     font-size: 2.4rem;
//   }
//   &__button {
//     font-size: 1.4rem;
//     line-height: 2.6rem;
//     font-weight: 700;
//     text-transform: uppercase;
//     border: 1px solid #15131d;
//     padding: 4px 16px;
//     margin: 8rem 0 4rem 0;
//     display: inline-block;
//     transition: all 0.3s;
//     cursor: pointer;
//   }
//   &__button:hover {
//     background-color: $color-green;
//     border: 1px solid $color-green;
//   }
//   &__button:hover a {
//     color: #fff;
//   }
// }
.dark {
  background-color: #202020;
  color: #b3b9c5;

  & a {
    color: #b3b9c5;
  }
  & p {
    color: #b3b9c5;
  }
  & button {
    color: #b3b9c5;
  }
  & .logo-text {
    color: #ffffff;
  }
  & h1,
  h2,
  h3 {
    color: #cecece;
  }
  & .PostPreview {
    background-color: rgb(48, 48, 48);
  }
  & #nav-container {
    background-color: #202020;
  }
  & .language-text {
    color: #b3b9c5;
    background: rgba(255, 255, 255, 0.1);
  }
  .Menu {
    background-color: #202020;
  }
  & .TagPage__button {
    border: 1px solid #b3b9c5;
  }
  blockquote {
    color: #fff;
    border: none;
    background: rgb(24, 24, 24);
    border-radius: 4px;
    font-size: 1.2rem;
    margin: 1.6rem 0;
    padding: 2.4rem;

    &.conclusion {
      border: none;
      background: green;
    }

    p {
      padding: 0;
      font-size: 1.15rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  // .language-text {
  //   color: #fff;
  // }
  #BlogPost__footer a {
    color: #b3b9c5;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  margin: 4.8rem 0;
  font-size: 1.3rem;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.dark th {
  border-bottom: 2px solid #131313;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  text-align: left;
  padding: 0.75rem !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.dark tbody tr:nth-child(2n) {
  background-color: #2d2d2d;
}

.gatsby-highlight {
  font-size: 1.4rem;
  margin: 2.688rem 0;
  // box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
  & pre {
    border-radius: 8px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
  }
}

pre.language-javascript {
  padding: 2.016rem;

  font-size: 1.6rem;
  border-radius: 0.4rem;
  // border-left: 10px solid orangered;
}
:not(pre) > code[class*="language-"] {
  background-color: #f5f2f0;
  color: $color-black;
  font-size: 1.75rem;
  line-height: 2.2rem;
  padding: 0.2rem 0.5rem;
  font-family: $font-text;
  border-radius: 0.4rem;
}
