$width-small: 74rem;
$width-medium: 96rem;
$width-large: 120rem;

$nav-height: 7.4rem;
$font-header: "Arimo", "Noto Sans", sans-serif;
$font-header: "Noto Sans", "Arimo", sans-serif;

$font-text: "Nanum Gothic", "Jost", sans-serif;
$font-text: "Jost", "Nanum Gothic", sans-serif;

$font-code: Monaco, "Operator Mono", "Source Code Pro", "
 Code", monospace;

$color-green: rgb(35, 140, 44);
$color-fit-yellow: rgb(255, 203, 0);
$color-yellow: #fad000;
$color-blue: #2a94c5;
$color-medium: rgb(73, 73, 73);
$color-medium-light: rgb(133, 133, 133);
$color-bg-dark: rgb(48, 48, 48);
$color-bg-darker: rgb(32, 32, 32);
$color-bg-darkest: rgb(17, 17, 17);
$color-bg-code: rgb(15, 17, 26);
$color-text-dark: #2a2a2a;
$color-text-light: #b3b9c5;
$color-text-lighter: #cecece;
$color-text-lightest: #f8f8f8;

.logo-icon {
  color: $color-fit-yellow;
  font-size: 4.2rem;
  transform: translateY(2px);
  @include respond(phone) {
    font-size: 3.6rem;
  }
}
.logo-text {
  margin-left: 9px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
  @include respond(phone) {
    font-size: 2rem;
  }

  font-family: $font-header;
}

$color-darkmode-01: rgb(31, 31, 31);
$color-darkmode-02: black;
$color-darkmode-03: rgb(17, 17, 17);
$color-darkmode-04: black;
$color-darkmode-05: rgb(31, 31, 31);
$color-darkmode-06: rgb(51, 51, 51);
$color-darkmode-07: black;
$color-darkmode-08: rgb(34, 40, 49);
$color-darkmode-09: rgb(26, 29, 36);
$color-darkmode-10: rgb(15, 20, 23);
$color-darkmode-11: black;
$color-darkmode-12: rgb(35, 44, 59);
$color-darkmode-13: rgb(24, 33, 48);
$color-darkmode-14: rgb(15, 25, 40);
$color-darkmode-15: black;
$color-darkmode-16: rgb(13, 19, 24);
$color-darkmode-17: rgb(26, 29, 34);
$color-darkmode-18: rgb(19, 24, 27);

$color-grey: grey;
$color-dark1: rgb(24, 24, 24);
$color-dark2: rgb(36, 36, 36);

$color-black: rgb(17, 17, 17);
$color-blueish1: rgb(28, 30, 47);
$color-blueish2: rgb(34, 36, 55);

$color-lightblack: rgb(28, 30, 47);
$color-portfolio-green: rgb(30, 57, 42);
$color-green-nodeupdate: rgba(55, 233, 85, 0.75);

//good
$color-green02: #1d7324;
$color-green03: #238c2c;
$color-green08: #1f6521;
//good
$color-blue01: #1e88e5;

$color-fit-footer: #1c1e2f;

//
$color-grey1: rgb(23, 22, 27);
$color-grey2: rgb(34, 33, 38);
$color-grey3: rgb(103, 100, 112);

$color-grey4: rgb(191, 191, 191);
$color-grey5: rgb(222, 220, 220);
$color-grey6: rgb(245, 245, 245);

$color-blue1: #0074e1;
$color-blue01: #1e88e5;
$color-blue02: #123c69;
$color-blue03: #0074e1;
$color-blue04: rgb(46, 123, 169);
$color-blue05: #659dbd;
//good
$color-blue06: #123c69;
$color-blue07: #5ab9ea;
$color-blue08: #3e9cca;
$color-blue09: #0677a1;
$color-blue10: #1b9ce5;
$color-green8: #1e392a;
//colors
$color-green01: #43a047;
$color-green02: #1d7324;
$color-green03: #238c2c;
$color-green04: #29a634;
$color-green05: #afd275;
$color-green06: #61892f;
$color-green07: rgba(55, 233, 85, 0.75);
$color-green08: #1f6521;
$color-green09: #1e392a;
$color-green10: #373f27;

$color-grey7: rgb(28, 27, 32);
$color-grey8: rgb(34, 33, 38);

$color-grey9: rgb(25, 26, 23);
$color-grey10: rgb(40, 39, 44);
$color-grey11: rgb(45, 44, 49);

$color-grey12: rgb(23, 24, 29);
$color-grey13: rgb(23, 22, 27);
$color-grey14: rgb(35, 36, 40);

$color-dark1: rgb(19, 19, 19);
$color-dark2: rgb(24, 24, 24);

$color-darkgrey1: rgb(54, 54, 54);
$color-darkgrey2: rgb(69, 69, 69);
$color-darkgrey3: rgb(76, 76, 76);
$color-darkgrey4: rgb(85, 85, 85);
$color-lightgrey1: rgb(191, 191, 191);
$color-lightgrey3: rgb(240, 240, 240);

$color-bluedark2: rgb(27, 36, 47);
$color-bluedark1: rgb(37, 41, 52);

$color-setblue: #233152;
$color-setbluedark: #061027;
$color-setred: #5d3534;
$color-setreddark: #3c0e0d;
$color-setgreen: #7a792c;
$color-setgreendark: #3a3a04;

$color-grey1: rgb(27, 27, 29);
$color-grey2: rgb(40, 39, 44);
$color-grey3: rgb(45, 44, 49);
$color-grey4: rgb(62, 60, 67);
$color-grey5: rgb(102, 99, 114);
$color-grey6: rgb(234, 237, 242);
$color-greylightest: rgb(250, 250, 250);

$color-greybackground: rgb(218, 224, 230);
$color-greyborder: rgb(198, 204, 210);

$color-themeblue: #647489;
$color-themelightblue: #4f729c;
$color-themered: #b15339;
$color-themegrey: #d7cdcc;

$color-materialred: #d32f2f;
$color-materialpurple: #5e35b1;
$color-materialindigo: #3f51b5;
$color-materialblue: #1e88e5;
$color-materiallightblue: #03a9f4;
$color-materialgreen: #43a047;
$color-materiallightgreen: #8bc34a;
$color-materialyellow: #fbc02d;
$color-materialamber: #ffb300;
$color-materialorange: #ff9800;
$color-materialbrown: #795548;
$color-materialgrey: #9e9e9e;
$color-materialbluegrey: #607d8b;

$color-foundationgreen: rgb(118, 180, 69);
$color-foundationpurple: rgb(129, 89, 179);
$color-foundationblue: rgb(46, 123, 169);
